target
.project
.classpath
.settings
build..properties
eclipse-classes
*.log
*.iml
*.ipr
lib/*.jar
build
dist
.externalToolBuilders
apache-ant-1.9.1
ldap/setup/refreshLDAPData.xml
maven-eclipse.xml
.idea
*.properties
config

